<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title class="bar_title">{{'LOGIN'|translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
    <ion-card class="card">
        <img class="login_image" src="../../../assets/images/nota.png">
        <ion-card-header>
            <ion-card-title class="card-title" color="secondary">{{'LOG_WITH_MAIL'|translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
            <form [formGroup]="form" (ngSubmit)="loginWithMail()">
                <ion-input class="input" color="secondary" placeholder="{{'MAIL'|translate}}" formControlName="email"></ion-input>
                <ion-input class="input" color="secondary" type="password" placeholder="{{'PASSWORD'|translate}}" formControlName="password"></ion-input>
                <ion-button class="login-button" type="submit" shape="round">
                    <ion-icon name="person"></ion-icon>&nbsp;{{'LOG_WITH_MAIL'|translate}}
                </ion-button>
                <ion-button class="register-button" (click)="register()" shape="round">
                    <ion-icon name="person-add"></ion-icon>&nbsp;{{'SIGNIN'|translate}}
                </ion-button>
                <ion-label class="orlabel">{{'OR'|translate}}</ion-label>
                <ion-button class="login_google_button" shape="round" (click)="signin()">
                    <ion-icon name="logo-google"></ion-icon>&nbsp; {{'LOG_WITH_GOOGLE'|translate}}
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>