.bar_title {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    text-decoration: solid;
}

ion-content.content {
    --background: url("../../../assets/images/fondo.jpg") 0 0/100% 100% no-repeat;
}

.title {
    text-align: center;
}

.login_google_button {
    display: block;
    margin: 10%;
    margin-top: 4%;
    text-align: left;
}

.google_icon {
    text-align: left;
    margin-right: 10px;
}

.login_image {
    display: block;
    block-size: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 30%;
    max-height: 30%;
}

.card {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
}

.input {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 25px;
}

.mail {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 25px;
}

.card-title {
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 24px;
}

.login-button {
    display: block;
    margin: 10%;
    margin-bottom: 4%;
    text-align: left;
}

.register-button {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
    text-align: left;
}

.cancel-button {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
    text-align: left;
}

.card-content {
    margin: 2%;
}